@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  color: white;
  font-size: 1rem;
}

@layer base {
  [disabled] {
      @apply cursor-not-allowed;
  }

  [disabled]:hover {
      @apply hover:cursor-not-allowed;
  }
}

.heroicon {
  @apply bg-white;
}

body {
  background-color: #787070;
  position: relative;
}

.main__second-color {
  background-color: rgb(0,0,0, 0.7);
}
